* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'cherry';
  src: url("/fonts/Cherry.ttf");
}

body {
  font-family: Arial, sans-serif;
  background-color: #B559F2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  font-family: Arial, sans-serif;
  background-color: #B559F2;
  margin: 0;
  padding: 0;
  display: flex;
  height: 86vh;
}

.container {
  flex: 1;
  height: 100%;
}

.container1 {
  display: flex;
  align-items: center; 
  justify-content: center;
}

.inner-div {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 8px; 
  width: 60%; 
  height: 70%; 
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: space-between;
  border: 10px solid #7107A3;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin: 10px 0;
}

.reset-button {
  padding: 10px 20px;
  width: 60%; 
  background-color: #7107A3;
  color: #ffffff;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  font-size: 16px;
}

.reset-button:hover {
  background-color: #0056b3;
}

.timer-label, .time{
  font-size: 45px;
  text-transform: uppercase;
}

.timer-label{
  color:  #7107A3;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 150px); 
  grid-template-rows: repeat(3, 150px); 
  gap: 10px;
}

.cell {
  border: 1px solid #f1f1f1; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  color: #f1f1f1;
}

#game{
  background-color: #4b0082; 
  padding: 50px;
}

.highlight {
  border:6px solid yellow; 
}

header {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #4d0073;
}

.header-icon {
  display: flex;
  align-items: center; 
  gap: 10px; 
}

.header-icon img {
  height: 50px;
  width: 60px;
}

.link-text {
  color: #f1f1f1; 
  font-size: 24px; 
  font-weight: 300; 
  font-family: 'cherry';
}

.user-icon img {
  height: 60px;
  width: 60px;
  cursor: pointer;
  border-radius: 50%; 
  border: 1px solid #f1f1f1;
  object-fit: cover;
  padding: 10px;
}

.header-icon {
  display: flex;
  align-items: center; 
  gap: 10px; 
}

footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: start;
  font-size: 17px;
  font-weight: 400;
  color: #6c2aa4;
}
