* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'cherry';
  src: url("/fonts/Cherry.ttf");
}

body {
  font-family: Arial, sans-serif;
  background-color: #B559F2;
  color: #f1f1f1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

header {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #4d0073;
}

.header-icon {
  display: flex;
  align-items: center; 
  gap: 10px; 
}

.header-icon img {
  height: 50px;
  width: 60px;
}

.link-text {
  color: #f1f1f1; 
  font-size: 24px; 
  font-weight: 300; 
  font-family: 'cherry';
}

.user-icon img {
  height: 60px;
  width: 60px;
  cursor: pointer;
  border-radius: 50%; 
  border: 1px solid #f1f1f1;
  object-fit: cover;
  padding: 10px;
}

.header-icon {
  display: flex;
  align-items: center; 
  gap: 10px; 
}


main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.options-container {
  display: flex;
  gap: 40px; 
}

.option-card {
  background-color: #f1f1f1;
  color: #4d0073;
  border-radius: 10px;
  text-align: center;
  padding: 30px;
  width: 400px; 
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  transition: transform 0.3s ease;
  border: 10px solid #7107A3;
}

.option-card p{
  font-weight: bold;
}

.option-card img {
  width: 150px; 
  height: 150px;
  margin-bottom: 20px;
}

.option-card:hover {
  transform: scale(1.05);
}

footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: start;
  font-size: 17px;
  font-weight: 400;
  color: #6c2aa4;
}
