* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-purple {
  background-color: #9716D4; /* Tom de roxo */
}

@font-face {
  font-family: cherry;
  src: url("/fonts/Cherry.ttf");
  }

body {
font-family: 'cherry';
margin: 0;
background-color: #f0f0f0;
}
 /* Menu */
 nav{
  height: 60px;
  background-color: var(--color-1);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.links-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #7F3FBF;
  position: flex;
  padding-bottom: 90px;
}

.links-container .ahome{
  margin-top: 90%;
  width: 80px;
}
.links-container .aprofi{
  margin-top:150%;
  width: 45px;
}
.links-container a{
  color: white;
  font-size:24px;
  margin-bottom: 0px;
  margin-top: 20px;
  font-family: cherry;

}

span{
  padding-top: 10%;
  padding-bottom: 10%;
}

nav a{

  padding: 0 20px;
  margin-top: 5%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
}
nav a:hover{
  background-color: var(--accent-color);
}
nav .home-link{
  margin-right: auto;
  display: flex;
  position: flex;
}
nav svg{
  fill: var(--text-color);
}
#sidebar-active{
  display: none;
}
.open-sidebar-button, .close-sidebar-button{
  display: none;
}
@media(max-width: 450px){
  .links-container{
    flex-direction: column;
    align-items: flex-start;

    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 300px;

    background-color: var(--color-1);
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.75s ease-out;
  }
  nav a{
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
  }
  .open-sidebar-button, .close-sidebar-button{
    padding: 20px;
    display: block;
  }
  #sidebar-active:checked ~ .links-container{
    right: 0;
  }
  #sidebar-active:checked ~ #overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
}

.menu-container {
display: flex;
justify-content: space-between;
align-items: center;
width: 90%;
max-width: 1200px;
margin: 0 auto;
}

.logo {
color: white;
font-size: 24px;
font-weight: bold;
padding-left: 20px;
}

.menu {
list-style: none;
display: flex;
margin: 0;
padding-right: 20px;
}

.menu li {
margin: 0 15px;
}

.menu li a {
color: white;
text-decoration: none;
font-size: 16px;
}

.menu li a:hover {
text-decoration: underline;
}

.game-container {
text-align: center;
padding: 50px 20px;
}

#game-board {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
gap: 15px;
justify-content: center; /* Centraliza horizontalmente */
max-width: 800px; /* Limite de largura máxima */
margin: 0 auto;
}

.card {
width: 150px;
height: 150px;
background-color: #9716D4; /* Fundo roxo */
color: #fff;
font-size: 24px;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
border-radius: 10px;
transition: transform 0.3s;
}

.card img {
width: 100px;
}

.card.flipped img {
display: block;
}

.card.flipped .cover {
display: none;
}

.card:hover {
transform: scale(1.05);
}

.card.highlight {
  box-shadow: 0 0 10px yellow; /* Sombra amarela */
  border: 2px solid yellow; /* Borda amarela */
}



header {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #4d0073;
}

.header-icon {
  display: flex;
  align-items: center; 
  gap: 10px; 
}

.header-icon img {
  height: 50px;
  width: 60px;
}

.link-text {
  color: #f1f1f1; 
  font-size: 24px; 
  font-weight: 300; 
  font-family: 'cherry';
}

.user-icon img {
  height: 60px;
  width: 60px;
  cursor: pointer;
  border-radius: 50%; 
  border: 1px solid #f1f1f1;
  object-fit: cover;
  padding: 10px;
}

.header-icon {
  display: flex;
  align-items: center; 
  gap: 10px; 
}

footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: start;
  font-size: 17px;
  font-weight: 400;
  color: #6c2aa4;
}

